# Core Machine Learning & Deep Learning Libraries
torch==2.5.0
torchvision==0.20.0
torchaudio==2.5.0
# dgl==2.1.0+cu118

# Graph & Data Processing
networkx==3.3
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
scipy==1.14.0

# Community Detection
python-louvain==0.16

# Utilities
PyYAML==6.0.1
tqdm==4.66.4
scikit-image==0.25.2 # For MNIST superpixel generation
sympy==1.13.1 # For BWGNN polynomial coefficient calculation

# (Optional) Add if you use these specific models as baselines
# catboost==1.2.8
# xgboost==3.0.2
# pyod==2.0.5